{% extends "main.html" %}

{% block content %}
<div id="content">
<h1>Help</h1>

{% comment %}
<h2>Contents</h2>
<ul>
<li><a href="#what">What is Name Rater?</a></li>
<li><a href="#submit">How do I submit a name?</a></li>
<li><a href="#team">How do I submit multiple names as a team?</a></li>
<li><a href="#rules">What are the rules for submissions</a></li>
<li><a href="#report">How do I report a submission or comment?</a></li>
<li><a href="#login">What's the point of logging in?</a></li>
<li><a href="#who">Who is repsonsible for Name Rater?</a></li>
</ul>
{% endcomment %}

<a name="what"></a>
<h2>What is Name Rater?</h2>
<p>Name Rater is a site for submitting and sharing Pokémon nicknames with the world.</p>

<a name="submit"></a>
<h2>How do I submit a name?</h2>
<p>To contribute, just select the Name link at the time. There will be a list of Pokémon which you can filter and choose from. You can then select which sprite to display and give it a name.
If you so choose, you may also use back, female, shiny, or other forms for that Pokémon that are available to best represent your submission.</p>

<a name="team"></a>
<h2>How do I submit multiple names as a team?</h2>
<p>If you have a series of names, which work best together, (perhaps something like various turtle Pokémon named after the ninja turtles), you can click the Nickname Another button when making
your submission to create a team of up to six Pokémon in a single submission! You'll be able to name the team and then visitors to the site will be able to view and rate your team as a group.</p>

<a name="rules"></a>
<h2>What are the rules for submissions?</h2>
<p>Simply put, do not submit any names which are terrible. Terrible name include but are not limited to names that are racist, sexist, homophobic, transphobic, rape jokes, names that harass others,
 or anything of that nature. This also applies to comments on other submissions as well.</p>
 
 <p>Additionally, you may want to make a search for your name to see if somebody else has already come up with something similar.</p>
 
 <p>Violating these rules will result in the offending content being removed, with potential for a limited or permanent ban based on my discretion.</p>

<a name="report"></a>
<h2>How do I report a submission or comment?</h2>
<p>You must first be logged in in order to report something. Firstly, go to the submission's view page. Then select Report. You may select a reason for reporting and provide any other information
that might be useful to have.</p>

<a name="login"></a>
<h2>What's the point of logging in?</h2>
<p>The core functionality of the site, naming and rating Pokémon nicknames, is available without creating an account. However, anonymous users are limited to just 3 submissions per day, 
can't comment on other submissions, and are unable to report submissions. Registered users have access to all these features, and may post 6 submissions per day immediately. Once you hit 
151 captures, you'll be able to post 12 submissions daily. Registered users can also easily find their submissions and get credit for their submissions and easily keep track of comments.</p>

<a name="who"></a>
<h2>Who is responsible for Name Rater?</h2>
<p>Name Rater was created by <a href="mailto:doctordos@gmail.com">Dr. Dos</a>. All images from Pokémon games were acquired either through <a href="http://veekun.com">Veekun</a> or <a href="http://bulbapedia.bulbagarden.net/wiki/Main_Page">Bulbapedia</a>. 
The site itself is written in Python using the Django library.
</p>

</div>
{% endblock %}